@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
    width: 100%;
    margin-top: 1.8rem;
}

/* Navbar section style */
.navbar {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 30px; */
    /* border: 2px solid; */
}

.navbar-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-left: 6.25rem;
    font-size: 2.25rem;
    font-weight: 800;
}

.travel {
    color: rgb(255, 84, 0);
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(66, 66, 71);
}

a:hover {
    color: rgb(255, 84, 0);
    font-weight: 700;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    margin-right: 6.25rem;
}

/* Banner section style */

.banner-section {
    border: 2px solid;
    margin-top: 3.1rem;
    text-align: center;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    height: 31.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.banner-title {
    margin-top: 6.625rem;
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}